@import "../helpers/_mixins";
@import "../helpers/_variables";

.tc-button {
  @include config_width_height(750rpx, 112rpx);
  @include config_rowBox_middle();
  bottom: 0;
  align-items: center;
  background-color: #ffffff;
  img {
    @include config_width_height(690rpx, 88rpx);
  }
  &-info {
    @include config_font(32rpx, $problemFontColor);
    position: absolute;
    left: 325rpx;
  }
}
