@import "../helpers/_mixins";
@import "../helpers/_variables";
.tc-sideBar-container {
  @include config_width_height(100vw, 100vh);
  @include config_rowBox();
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: -100%;
}
.active {
  left: 0;
}
.tc-sideBar {
  @include config_width_height(352rpx, 1206rpx);
  position: absolute;
  left: -100%;
  background-color: #ffffff;
  &-active {
    left: 0;
    transition: left 0.4s;
  }
  &-info {
    &-img {
      @include config_width_height(144rpx, 144rpx);
      margin-top: 128rpx;
      margin-left: 100rpx;
      margin-right: 108rpx;
      margin-bottom: 31rpx;
      border-radius: 50%;
    }
    &-name {
      @include config_font(32rpx, $sideBarFontColor);
      text-align: center;
      margin-bottom: 100rpx;
    }
  }
  &-menu-item {
    @include config_rowBox();
    height: 58rpx;
    margin-bottom: 21rpx;
    margin-left: 20rpx;
    &-name {
      @include config_font(28rpx, $sideBarFontColor);
      line-height: 26rpx;
      padding-top: 15rpx;
  }
    &-tag {
      @include config_width_height(50rpx, 50rpx);
      margin-right: 15rpx;
    }
  }
}
