@import "../helpers/_mixins";
@import "../helpers/_variables";
::placeholder {
  color: $reminderFontColor;
  opacity: 1;
}
:-ms-input-placeholder {
  color: $reminderFontColor;
}
::-ms-input-placeholder {
  color: $reminderFontColor;
}
.editInfo {
  @include config_font(32rpx, $problemFontColor);
  box-sizing: border-box;
  width: 750rpx;
  background-color: $themeColor;
  padding: 30rpx;
  &-container {
    height: 1064rpx;
  }
  &-module {
    background-color: white;
    border-radius: 6rpx;
    padding: 30rpx 30rpx 0rpx 30rpx;
    box-sizing: border-box;
    &-1 {
      @include config_width_height(690rpx, 608rpx);
      margin-bottom: 29rpx;
    }
    &-2 {
      @include config_width_height(690rpx, 200rpx);
    }
  }
  &-normalItem {
    @include config_rowBox();
    @include config_width_height(508rpx, 100rpx);
    box-sizing: border-box;
    &-value {
      @include config_font(28rpx, $reminderFontColor);
      position: absolute;
      text-align: right;
      right: 60rpx;
    }
    &-img {
      position: absolute;
      right: 50rpx;
      margin-top: -8rpx;
      @include config_rowBox();
      img {
        @include config_width_height(58rpx, 58rpx);
        margin-left: 12rpx;
      }
    }
  }

  &-avatarItem {
    @include config_width_height(508rpx, 144rpx);
    @include config_rowBox();
    margin-bottom: 50rpx;
    align-items: center;
    &-avatar {
      img {
        @include config_width_height(144rpx, 144rpx);
        position: relative;
        left: 422rpx;
        border-radius: 50%;
      }
    }
    &-name {
      line-height: 30rpx;
    }
  }
}
.editInfo-bottomButton {
  @include config_rowBox();
  @include config_width_height(750rpx, 112rpx);
  position: absolute;
  bottom: 0rpx;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-left: -30rpx;
  img {
    @include config_width_height(690rpx, 88rpx);
    display: block;
  }
  &-content {
    @include config_font(32rpx, $problemFontColor);
    z-index: 999;
    line-height: 30rpx;
    position: absolute;
    left: 345rpx;
  }
}
