@import "../helpers/_mixins";
@import "../helpers/_variables";

.find {
  min-height: 100vh;
  background-color: $themeColor;
  padding: 30rpx;
  padding-top: 0;
  border-radius: 6rpx;
  box-sizing: border-box;
  &-restRank {
    margin-top: 40rpx;
    background-color: #ffffff;
    padding-bottom: 40rpx;
    border-radius: 6rpx;
    &-item {
      @include config_rowBox();
      @include config_width_height(690rpx, 100rpx);
      box-sizing: border-box;
      align-items: center;
      padding-top: 17rpx;
      padding-left: 40rpx;
      padding-right: 34rpx;
      &-avatar {
        @include config_width_height(64rpx, 64rpx);
        border-radius: 50%;
        margin-right: 19rpx;
      }
      &-name {
        @include config_font(28rpx, $problemFontColor);
      }
      &-position {
        @include config_font(32rpx, $problemFontColor);
        margin-right: 50rpx;
        min-width: 30rpx;
      }
      &-score {
        position: absolute;
        right: 64rpx;
        @include config_font(32rpx, $problemFontColor);
      }
    }
  }
  &-village {
    margin-top: 13rpx;
    &-item {
      margin-bottom: 15rpx;
      &-tag {
        @include config_font(24rpx, $problemFontColor);
        margin-left: 30rpx;
        img {
          @include config_width_height(80rpx, 80rpx);
          border-radius: 50%;
          margin-bottom: -30rpx;
          margin-right: 10rpx;
        }
      }
      &-content {
        @include config_width_height(690rpx, 176rpx);
        box-sizing: border-box;
        border-radius: 6rpx;
        padding-top: 45rpx;
        padding-left: 31rpx;
        padding-right: 31rpx;
        background-color: #ffffff;
        &-title {
          @include config_font(32rpx, $problemFontColor);
          line-height: 31rpx;
          margin-bottom: 23rpx;
        }
        &-time {
          @include config_font(24rpx, $reminderFontColor);
          line-height: 19rpx;
        }
        &-members {
          &-count {
            @include config_width_height(56rpx, 56rpx);
            margin-left: 10rpx;
            display: inline-block;
            border-radius: 50%;
            background-color: rgba(255, 192, 63, 0.2);
            float: right;
            div {
              @include config_columnBox();
              justify-content: center;
              align-items: center;
              @include config_font(24rpx, #ffc53d);
              padding-top: 19rpx;
              line-height: 19rpx;
            }
          }
          img {
            @include config_width_height(56rpx, 56rpx);
            border-radius: 50%;
            float: right;
            margin-left: 10rpx;
          }
        }
      }
    }
  }
}
