@import "../helpers/_variables";
@import "../helpers/_mixins";

.index {
  position: fixed;
  img {
    height: 100vh;
    width: 750rpx;
  }
  button {
    margin-top: -250rpx;
    background-color: transparent;
    height: 80rpx;
    padding: 0;
    div {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      @include config_font(32rpx, $problemFontColor);
      font-weight: 400;
      z-index: 9999;
    }
    img {
      box-sizing: border-box;
      border-radius: 30px;
      background-color: #fff;
      padding: 0;
      width: 540rpx;
      height: 80rpx;
    }
  }
  button:after {
    border: none;
  }
}
