@import '../helpers/_mixins';
@import '../helpers/_variables';

.personalCenter {
  height: 1108rpx;
  background-color: $themeColor;
  padding-left: 30rpx;
  padding-right: 30rpx;
  &-menu {
    &-icon {
      margin-bottom: 27rpx;
      margin-top: 45rpx;
      @include config_width_height(50rpx, 50rpx);
    }
  }
}