@import "../helpers/_mixins";
@import "../helpers/_variables";

.task {
  background-color: $themeColor;
  padding: 30rpx;
  min-height: 94vh;
  &-fullScreen {
    min-height: 100vh;
    background-color: $themeColor;
  }
}
